* {
  box-sizing: border-box;
}

body {
  background: url(img/pencil.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#Menu > ul > li > a,
div > ul > li > a {
  color: #84579b;
}

#Menu > ul > li {
  gap: 4em;
}

#Menu {
  justify-content: center;
}

h2,
h1,
.footer,
h3 {
  text-align: center;
  color: #84579b;
}

h1 > a,
h2 > a,
li > a,
p > a,
.card-footer > a {
  color: #84579b;
  text-decoration: none;
}

a:hover {
  color: #c5598f;
}
.home > p,
.container > p {
  text-align: justify;
}

footer,
.container,
.event {
  padding-top: 50px;
}

h3 {
  color: #af803f;
  margin-bottom: 20px;
}

.carousel-inner {
  display: block;
  width: 50%;
  margin: auto;
}

h5,
.accordion-item {
  color: #a7d6dc;
  background-color: #84579b;
  border-radius: 15px;
}

.accordion-body {
  display: flex;
  justify-content: center;
  background-color: #e8f3f5;
  gap: 3em;
  height: 150px;
}

.text_center {
  position: absolute;
  color: #e8f3f5;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion-body > div > img {
  height: 120px;
}

@media all and (max-width: 1024px) {
  .carousel-inner {
    width: 100%;
    padding: 20px;
  }
  .col {
    width: 50%;
  }
  form > div {
    display: flex;
  }
}

@media all and (max-width: 600px) {
  .carousel-inner {
    width: 100%;
    padding: 20px;
  }
  .col {
    width: 100%;
    margin-bottom: 10px;
  }
  .row.mb-3 {
    display: block;
  }
  #message {
    display: flex;
    width: 100%;
  }
}
